services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/application  # Corrected the volume mapping
    command: uvicorn main:app --host 0.0.0.0 --port 8006 --reload  # Changed host to 0.0.0.0 to bind to all interfaces
    ports:
      - 8006:8006
    restart: always
